$cyan: #20c997;
$primary: #f74c6a;

@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/type";
@import "~bootstrap/scss/grid";
@import "~bootstrap/scss/buttons";
@import "~bootstrap/scss/navbar";
@import "~bootstrap/scss/badge";
@import "~bootstrap/scss/card";
@import "~bootstrap/scss/utilities";
@import "~bootstrap/scss/carousel";
@import "~bootstrap/scss/jumbotron";

.my-masonry-grid {
  display: flex;
  margin-left: -30px; /* gutter size offset */
  width: auto;
}
.my-masonry-grid_column {
  padding-left: 30px; /* gutter size */
  background-clip: padding-box;
}

/* Style your items */
.my-masonry-grid_column > div {
  /* change div to reference your elements you put in <Masonry> */
  margin-bottom: 30px;
}

.card-columns {
  @include media-breakpoint-only(lg) {
    column-count: 2;
  }
  @include media-breakpoint-only(xl) {
    column-count: 2;
  }
  @include media-breakpoint-only(md) {
    column-count: 2;
  }
  @include media-breakpoint-only(sm) {
    column-count: 1;
  }
}

.display {
  @include media-breakpoint-only(lg) {
    font-size: 3.5rem;
    font-weight: 300;
    line-height: 1.2;
  }
  @include media-breakpoint-only(xl) {
    font-size: 3.5rem;
    font-weight: 300;
    line-height: 1.2;
  }
  @include media-breakpoint-only(md) {
    font-size: 3.5rem;
    font-weight: 300;
    line-height: 1.2;
  }
  @include media-breakpoint-only(sm) {
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
  }
}
